<link rel="stylesheet" href="https://newcss.net/lite.css" />
<link rel="stylesheet" href="/abfuhrkarte.css" />
{% if include_leaflet %}
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""
/>
{% endif %}
