{% extends "layout.j2" %}

{% block content %}
{%- for item in data %}
<a href="#{{ item | slugify }}">{{ item }}</a>
{% if not loop.last %} - {% endif %}
{%- endfor %}

{%- for waste_type, waste_items in data.items() %}
    <h2 id="{{ waste_type | slugify }}">{{ waste_type }}</h2>
    {%- for item in waste_items %}
      <a href="#{{ item ~ '-' ~ waste_type | slugify }}">{{ item }}</a>
      {% if not loop.last %} - {% endif %}
    {%- endfor %}

    {%- for district, items in waste_items.items() %}
    <details id="{{ district ~ '-' ~ waste_type | slugify }}">
      <summary>{{ district }} ({{ waste_type }})</summary>
      <p>
        {%- for item in items %}{{ item.street_name }}{% if not loop.last %}, {% endif %}{%- endfor %}
      </p>
    </details>
    {%- endfor %}
{%- endfor %}
{% endblock %}
