<!DOCTYPE html>

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/favicon.svg" />
    {% include '_style_assets.j2' %}

    <title>{{ title | to_title('Abfuhrtermine Münster') }}</title>
  </head>

  <body>
    <header>
      <h1>{{ title | to_title('Abfuhrtermine Münster') }}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <p>
      Realisiert unter Verwendung des Datensatzes
      <a
        href="https://opendata.stadt-muenster.de/dataset/entsorgungskalender-2020-der-abfallwirtschaftsbetriebe-m%C3%BCnster-awm"
        ><q
          >Entsorgungskalender 2020 der Abfallwirtschaftsbetriebe Münster
          (AWM)</q
        ></a
      >
      bereitgestellt von der Stadt Münster unter
      <a href="http://www.govdata.de/dl-de/by-2-0"
        >Datenlizenz Deutschland – Namensnennung – Version 2.0</a
      >.
    </p>
    {% include '_script_assets.j2' %}
    <script data-goatcounter="https://goat.pape.dev/count"
        async src="//goat.pape.dev/count.js"></script>
  </body>
</html>
