<!doctype html>

<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://newcss.net/lite.css">
  <link rel="stylesheet" href="abfuhrkarte.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="">

  <title>Abfuhrtermine Münster</title>
</head>

<body>

  <header>
    <h1>Abfuhrtermine Münster</h1>
  </header>

  <main>
    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="sidebar">
      <h3>Datum:</h3>
      <label for="date-select">Datum auswählen:</label>

      <select name="dates" id="date-select">
        <option value="">--Bitte Datum auswählen--</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
      </select>
    </div>
  </main>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="abfuhrkarte.js"></script>
</body>

</html>
